[Desktop Entry]
Version=1.0
Name=1stapp
Comment=This is my comment
Exec=/location_of_full_file/ls.py
Icon=/location_of_full_file/pop.jpeg
Terminal=false
Type=Application
